Options +FollowSymLinks
RewriteEngine On

# Permitir acceso directo a archivos y carpetas que existen
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo lo demás va a index.php
RewriteRule ^(.*)$ /index.php [L,QSA]

DirectoryIndex index.php